/* init */

html, body {
  background-color:#cac7ff; 
  font-family: Roboto, Arial, sans-serif;
  margin: 0px;
}

/* header */

.header {
	text-align:center;
	background-color: #484394;
	width: 100%;
	color: #ffffff;
	box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(160deg, #634394, #435594);
}

.title-header {
	padding-top: 1pt;
	font-size: 16pt;
}

.sub-header {
	padding: 15pt 15pt;
	font-size: 20px;
}

.button-header {
	text-decoration: none;
	color: white;
	padding: 15pt 15pt;
	transition: .3s;
}

.button-header:hover {
	background-color: #393576;
}

/* Work */

.title {
	text-align:center;
	color:#413ab0;
}

h1 {
	text-decoration:underline;
}


ul {
	display: table;
	margin: 0 auto;
	text-align: left;
}

.label {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align:center;
	font-size: 25px;
	color: #413ab0;
}

.label {
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	text-align:center;
	font-size: 25px;
	color: #413ab0;
}

.input-style {
    outline: none;
	
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	border-style:none;
	border-radius: 10px;
	font-size : 20px;
	color: #413ab0;

	height: 5%;
	width: auto;


	color:#393576;
	font-size: 18px;
	font-family: Roboto, Arial, sans-serif;
}

input:focus-visible	{	
	
	outline-style: solid;
	outline-width: thin;

	transition: all 0.1s ease-in-out;
	outline-width: 2.5px;
	outline-color: #393576;
}

textarea {
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	transition: all 0.2s ease-in-out;
	width: auto;
	height: 30%;	

	outline-style: none;
	outline-width: none;
	color:#393576;
	font-size: 18px;
	font-family: Roboto, Arial, sans-serif;

	border-width: 0px;
	border-radius: 10px;
	resize: none;	
}

textarea:focus-visible	{	
	outline-style: solid;
	outline-width: thin;

	transition: all 0.1s ease-in-out;
	outline-width: 2.5px;
	outline-color: #393576;
}

.input-button {
	border-style: none;
    display: flex; /* Enables flexbox */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    margin-left: auto;
    margin-right: auto;
    
    background-color: #634394; 
    color: white;
    
    height: 7.5%;
    width: 10%;
    font-size: 20px;
    
    transition: .3s;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
    text-align: center; /* Optional, not necessary with flex */
	text-decoration: none;
}

.input-button:hover {
	transition: .3s;
	background-color: #393576;
}


/*
.input-style:focus {
    height: 35px;
    transition: all 0.1s ease-in-out;
}

form {
	
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.formstyle:focus-visible	{	
	outline-style: solid;
	outline-width: thin;

	transition: all 0.1s ease-in-out;
	outline-width: 2.5px;
	outline-color: #393576;
}

/* table */
